/* PHASE 4: Footer */
footer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 900px;
    height: 55px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    align-items: center;
    font-size: 14px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: darkgray;
    background-color: white;
}

footer div {
    padding-left: 20px;
}

footer ul {
    display: flex;
    padding-right: 10px;
}

footer ul li {
    padding: 10px;
}